li:nth-child(1){
    color: red;
    font-family:'Kenia' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 
li:nth-child(2){
    color: green;
    font-family:'Kenia' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 
li:nth-child(3)
{
    color:yellow;
    font-family:'Kenia' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 

li:nth-child(4){
    color:orange;
    font-family:'Kenia' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 
li:nth-child(5){
    color:skyblue;
    font-family:'Kenia' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 
h2{
    color: rgb(9, 9, 9);
    font-family:'Playpen Sans' 
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: left;
}


h4{
    color: pink;
    font-family:'Playpen Sans' 
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}
h5{
    color: rgb(18, 17, 17);
    font-family:'Playpen Sans' 
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: left;
}